<div class="registration-container">
  <h2>Update Profile</h2>
  <form (ngSubmit)="update()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <div class="form-group">
      <label for="new_password">New Password</label>
      <input type="new_password" id="new_password" name="new_password" [(ngModel)]="new_password" required>
    </div>
    <div class="form-group">
      <button type="submit">Update Profile</button>
    </div>
  </form>
</div>
